body{
   
}

.loginContainer{
    margin-top: 50px;
    background: linear-gradient(to right, #6262e2 0%,#6262e2 40%,rgba(255, 255, 255, 0.8) 40%,rgba(255, 255, 255, 0.8) 100%);
    
}
.runBook1{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#root > div > div:nth-child(3) > div > div > div > div.col-sm-7 > main > div > div > div.col-sm-5 > div > svg{
    height: 80px;
    width: 100px;

}
.app-bg{
    background-image: url(Runbook_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


